{% extends "app/base.html" %}
{% load static %}
{% block title %} Product Detail {% endblock title%}

{% block main-content %}
<div class="container-pd">
    <div class="img-pd">
        <img src="{{product.product_image.url}}" class="img-pd2" alt="">
    </div>
    <div class="product-detail">
        <h1>{{product.title}}</h1>
        <h5>Rs.{{product.discounted_price}}/-</h5>
        <small class="product-selling-price"><del>Rs.{{product.selling_price}}/-</del></small>
        <h4>Product Features</h4>
        <ul class="product.desc">
            <li>{{product.description}}</li>
        </ul>
        <div class="button">
            <button type="submit" class="add-cart">Add to Cart</button>
            <div class="buyproduct">
                <a href="" class="buy-now">Buy Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}